body {

	

	font-family:Tahoma;

	margin-top:60px;

	margin-bottom:60px;}



.header {

	width:1003px;

	height:45px;

	background:url(../images/header_bg.png);

	border:0px solid #000;}



.content_div {

	width:1003px;

	background: #fff;

	border:1px solid #e8e8e8;

	padding-top:100px;

	padding-bottom:100px;}



.content_div1 {

	width:1003px;

	background: #fff;

	border:1px solid #e8e8e8;

	padding-top:20px;

	padding-bottom:100px}



.login_div {

	width:130px;

	text-align:center;

	font-size:16px;

	font-weight:bold;

	color:#f9f9f9;

	background:url(../images/login_bg.png);

	padding-top:2px;

	padding-bottom:6px;

	border-radius:5px;

	margin-right:20px;

	border-top:1px solid #444;

	border-bottom:1px solid #999;

	border-left:1px solid #565656;

	border-right:1px solid #565656;}



.login_div:hover {

	background:url(../images/login_bg_click.png);}



.user_div {

	text-align:left;

	font-weight:bold;

	font-size:14px;

	color:#f9f9f9;

	padding-top:4px;

	padding-bottom:4px;

	margin-left:20px;}



.footer {

	width:1003px;

	height:71px;

	background:url(../images/footer_bg.png);

	border-top:1px solid #494949;}



.menu_div {

	float:left;

	height:70px;

	font-size:15px;

	border-top:1px solid #b7b7b7;

	border-right:1px solid #b7b7b7;

	border-left:1px solid #494949;}



.menu_div_selected {

	float:left;

	height:70px;

	font-size:15px;

	border-top:1px solid #b7b7b7;

	border-right:1px solid #b7b7b7;

	border-left:1px solid #494949;

	background:url(../images/footer_bg_selected.png);}



.menu_div:hover {

	background:url(../images/footer_bg_hover.png);}



.button_div {

	border-radius:3px;

	padding-bottom:7px;

	padding-top:5px;

	color:#222;

	border:1px solid #fff;

	cursor:pointer;}

	

.button_div1 {

	width:700px;

	border-radius:3px;

	padding-bottom:7px;

	padding-top:5px;

	color:#222;

	border:1px solid #fff;

	cursor:pointer;}	



.button_div:hover {

	border-radius:3px;

	padding-bottom:7px;

	padding-top:5px;

	color:#19A4D2;

	background-color:#f7f7f7;

	border:1px solid #fff;

	-webkit-transition: all 0.3s ease 0s;

    -moz-transition: all 0.3s ease 0s;

    -o-transition: all 0.3s ease 0s;

    transition: all 0.3s ease 0s;

	cursor:pointer;}



.link_div {

	margin-bottom:13px;

	text-align:left;

	padding-left:15px;

	font-size:13px;

	border:0px #ccc solid;}



.slidingDiv1, .slidingDiv2, .slidingDiv3, .slidingDiv4, .slidingDiv5, .slidingDiv6, .slidingDiv7 {

	background:#f7f7f7;

	border:1px solid #ccc;}





.label {

	font-size:11px;

	width:200px;}

	

.label_big {

	width:700px;

	font-size:12px;}	

	

	

.searchbox {

	width:450px;

	background:#f5f5f5;

	border:1px solid #ccc;

	padding:10px;}



.search_input {

	border:1px #ccc solid;

	height:23px;

	margin-top:3px;

	border-radius:2px;}



.style_even {

	width:70%;

	padding:6px;

	margin-top:5px;}



.style_odd {

	width:70%;

	padding:6px;

	margin-top:5px;

	background:#f6f6f6;}



.edit_div {

	padding:2px;

	text-align:center;

	border:1px solid #ccc;

	border-radius:2px;}
	

.didi_div {

	width:150px;

	padding:1px;

	text-align:left;

	border:1px solid #ccc;

	border-radius:2px;}	

	

.editmizani_div {

	padding:2px;

	text-align:left;

	width:550px;

	border:1px solid #ccc;

	border-radius:2px;}	

.editdasaxeleba_div {

	padding:2px;

	text-align:left;

	width:400px;

	border:1px solid #ccc;

	border-radius:2px;}	


.edit1_div {

	padding:2px;

	text-align:center;

	width:50px;

	background: transparent;

	border:0px;

	border-bottom:1px dotted #999;}



.edit2_div {

	padding:2px;

	text-align:center;

	width:350px;

	font-style:italic;

	background: transparent;

	border:0px;

	border-bottom:1px dotted #999;}

	

.edit_div1 {

	width:60px;

	padding:2px;

	text-align:center;

	border:1px solid #ccc;

	border-radius:2px;}	

	

.edit_div2 {

	width:400px;

	padding:2px;

	text-align:center;

	border:1px solid #ccc;

	border-radius:2px;}



.edit_div3 {

	width:90%;

	padding:2px;

	border:1px solid #ccc;

	border-radius:2px;}	


.edit_div4 {

	padding:2px;
	
	width:40px;

	text-align:center;

	border:1px solid #ccc;

	border-radius:2px;}		

.laboqmi {

	margin-top:55px;

	width:1113px;

	padding:1px;

	border:0px solid #ccc;

	border-radius:2px;
	float:none;
	margin-bottom:100px;
	}	

	

.laboqmi1 {

	width:98%;

	padding:1px;

	border:0px solid #ccc;

	border-radius:2px;}

			

.laboqmi2 {

	width:98%;

	padding:0px;

	border:0px solid #FFFFFF;

	border-radius:2px;}	

	

.laboqmi3 {

	width:98%;

	padding:0px;

	border:0px solid #ccc;

	border-radius:2px;}

	

span {

font-size:14px;

}



#parent_category {

border:1px solid #FF9900; 

-moz-border-radius:1px;

-webkit-border-radius:1px;

border-radius:1px; 

width:510px; 

height:25px; 

font-size:12px;

}

#child_category {

border:1px solid #FF9900; 

-moz-border-radius:1px;

-webkit-border-radius:1px;

border-radius:1px; 

width:410px; 

height:25px; 

font-size:12px;

}

#tuto_link {

margin-bottom:50px;

}

#tuto_link a {

font-size:20px;

}				